<!doctype html>
<html ng-app="main">
  <head>
    <title>Betrayal Character Card</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="angular.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <select ng-model="state.current.character" ng-options="x for x in characterOptions()"></select>
    <table>
      <tr><th ng-repeat="trait in traitTable()" ng-class="character().colorClass">{{trait.name}}</th></tr>
      <tr><td ng-repeat="t in traitIndexes"><input type="button" value=" ^ " ng-click="modifyHealth(t, 1)"></td></tr>
      <tr ng-repeat="h in healthValues">
        <td ng-class="cellClass(t, h)" ng-repeat="t in traitIndexes">
          <span ng-show="state.current.health[t] == h">[</span>
          {{traitTable()[t].values[h]}}
          <span ng-show="state.current.health[t] == h">]</span>
        </td>
      </tr>
      <tr><td ng-repeat="t in traitIndexes"><input type="button" value=" v " ng-click="modifyHealth(t, -1)"></td></tr>
    </table>
  </body>
</html>
