<!doctype html>
<html ng-app="main">
  <head>
    <title>Betrayal Character Card</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="angular.js"></script>
    <script src="index.js"></script>
    <script src="data.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div ng-show="state.bigBarValue >= 0">
      <table>
        <tr>
          <td><input type="button" value=" &lt; " ng-click="modifyBigBar(-1)"></td>
          <td ng-repeat="i in bigBarValues" ng-class="bigBarClass(i)">{{bigBarCell(i)}}</td>
          <td><input type="button" value=" &gt; " ng-click="modifyBigBar(1)"></td>
        </tr>
      </table>
    </div>
    <div style="float: left;" ng-repeat="explorer in state.explorers">
      <select ng-model="explorer.character"
          ng-options="name as name group by character.colorClass for (name, character) in characters"
          ng-change="onCharacterSelect(explorer)"
          tabindex="{{$index + 1}}">
        <option value="">-- select character --</option>
      </select>
      <table ng-show="explorer.character">
        <tr><th ng-repeat="t in traitIndexes"
            ng-class="character(explorer).colorClass"
            style="cursor:pointer;"
            title="{{traitColumnTitle(explorer, t)}}"
            ng-click="onTraitColumnClick(explorer, t)">
          {{traitColumnText(explorer, t)}}
        </th></tr>
        <tr><td ng-repeat="t in traitIndexes"><input type="button" value=" ^ " ng-click="modifyHealth(explorer, t, 1)"></td></tr>
        <tr ng-repeat="h in healthValues">
          <td ng-class="traitClass(explorer, t, h)" ng-repeat="t in traitIndexes">
            {{traitCell(explorer, t, h)}}
          </td>
        </tr>
        <tr><td ng-repeat="t in traitIndexes"><input type="button" value=" v " ng-click="modifyHealth(explorer, t, -1)"></td></tr>
      </table>
    </div>
    <div style="clear:both;">
      <label><input id="showBigBar" type="checkbox" ng-checked="state.bigBarValue >= 0" ng-click="showHideBigBar()">Show Turn/Damage Tracker</label>
      <br>
      <label>It Is Meant To Be: <input type="number" ng-model="state.itIsMeantToBe" ng-change="saveState()" min="0" max="8"></label>
      <br>
      <!-- the clear state button can be our only way to recover from corrupt state. don't trust angular with it -->
      <input type="button" value="Clear State" onclick="maybeClearState()">
    </div>
  </body>
</html>
