<!doctype html>
<html ng-app="main">
  <head>
    <title>Betrayal Character Card</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="angular.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div style="float: left;" ng-repeat="explorer in explorers">
      <select ng-model="explorer.character"
          ng-options="name as name group by character.colorClass for (name, character) in characters"
          ng-change="onCharacterSelect(explorer)"
          tabindex="{{$index + 1}}">
        <option value="">-- select character --</option>
      </select>
      <table ng-show="explorer.character">
        <tr><th ng-repeat="trait in traitTable(explorer)" ng-class="character(explorer).colorClass">{{trait.name}}</th></tr>
        <tr><td ng-repeat="t in traitIndexes"><input type="button" value=" ^ " ng-click="modifyHealth(explorer, t, 1)"></td></tr>
        <tr ng-repeat="h in healthValues">
          <td ng-class="cellClass(explorer, t, h)" ng-repeat="t in traitIndexes">
            <span ng-show="explorer.health[t] == h">[</span>
            {{traitTable(explorer)[t].values[h]}}
            <span ng-show="explorer.health[t] == h">]</span>
          </td>
        </tr>
        <tr><td ng-repeat="t in traitIndexes"><input type="button" value=" v " ng-click="modifyHealth(explorer, t, -1)"></td></tr>
      </table>
    </div>
  </body>
</html>
