body, select, input {
    font-size: 150%;
}

td {
    text-align: center;
}

.starting {
    font-weight: bold;
    color: green;
    background: #ddd;
}

.current {
    background: #bbb;
}

.red  { background: #f44;  }
.blue { background: #44f; }
