table, select, input {
    font-size: 150%;
}

td {
    text-align: center;
}

.starting {
    font-weight: bold;
    color: #0b0;
    background: #ddd;
}

.current {
    background: #bbb;
}

.monospace {
    font-family: monospace;
}

.red    { background: #f44; }
.blue   { background: #44f; }
.green  { background: #4f4; }
.yellow { background: #ff4; }
.purple { background: #f4f; }
.white  { background: #000; color: #fff }
